
@model JOBGATE_MVC_C.Models.Login_EPYModel
@{ 
    ViewData["Title"] = "Login"; 
    
}
<div class="container-fluid">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-12 col-md-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="Employee-tab" data-toggle="tab" href="#Employee" role="tab" aria-controls="Employee" aria-selected="true">Employee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="Company-tab" data-toggle="tab" href="#Company" role="tab" aria-controls="Company" aria-selected="false">Company</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="Employee" role="tabpanel" aria-labelledby="Employee-tab">
                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="p-5">

                                        <form class="user" method="post">
                                            @*<input type="hidden" asp-for="ReturnUrl" />*@

                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                       id="exampleInputEmailEPY" aria-describedby="emailHelp"
                                                       placeholder="Email or Username" asp-for="Email">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                       id="exampleInputPasswordEPY" placeholder="Password" asp-for="Password">
                                            </div>

                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input"  asp-for="RememberMe">
                                                    <label class="custom-control-label" asp-for="RememberMe">
                                                        Remember Me
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="text-danger" asp-validation-summary="All"></div>
                                            <button class="btn btn-primary btn-user btn-block">
                                                Login
                                            </button>
                                        </form>
                                        <hr />
                                        <div class="text-center">
                                            <a class="small" href="#">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="p-5">
                                        <form class="user">
                                            <div class="form-group">
                                                <a class="btn btn-google btn-user btn-block" asp-action="GoogleLogin">
                                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                                </a>
                                            </div>
                                            <div class="form-group">
                                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                                </a>
                                            </div>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="#">Create an Account!</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="Company" role="tabpanel" aria-labelledby="Company-tab">
                    <div class="card o-hidden border-0 shadow-lg">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="p-5">
                                        <form class="user">
                                            <div class="form-group">
                                                <input type="email" class="form-control form-control-user"
                                                       id="exampleInputEmail" aria-describedby="emailHelp"
                                                       placeholder="Email or Username">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control form-control-user"
                                                       id="exampleInputPassword" placeholder="Password">
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox small">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck">
                                                    <label class="custom-control-label" for="customCheck">
                                                        Remember Me
                                                    </label>
                                                </div>
                                            </div>
                                            <a href="#" class="btn btn-primary btn-user btn-block">
                                                Login
                                            </a>
                                        </form>
                                        <hr />
                                        <div class="text-center">
                                            <a class="small" href="#">Forgot Password?</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="p-5">
                                        <form class="user">
                                            <div class="form-group">
                                                <a href="#" class="btn btn-google btn-user btn-block">
                                                    <i class="fab fa-google fa-fw"></i> Login with Google
                                                </a>
                                            </div>
                                            <div class="form-group">
                                                <a href="#" class="btn btn-facebook btn-user btn-block">
                                                    <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
                                                </a>
                                            </div>
                                        </form>
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="#">Create an Account!</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>