<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("TermsOfService","Terms")">Terms of service</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Privacy","Terms")">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Cookie","Terms")">Cookie Policy</a>
  </li>
</ul>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <h4 class="font-weight-bold">Cookie Policy</h4>
                <br />
                <strong>Cookies</strong>
                <p style="white-space:pre-line;">
                    If you visit our website, data will be stored on a web browser or recorded on your computer or mobile device, such as a smartphone tablet, in order to collect data and remember your website visit to help improve your online use of our website. This storage will not be harmful to your computer or the security of your data.
                    We would like to inform you that certain cookies on this website are collected and analyzed by other service providers, such as advertising networks and other external websites, e.g., web analytics service providers, etc. You should learn about the use of cookies policy and privacy policy on these websites so you can understand how they use your data.
                </p>
                <br />
                <strong>The purpose for using cookies</strong>
                <p style="white-space:pre-line;">
                    We use cookies and local storage for the following purposes:
                    • To collect anonymous statistics. This will help us to understand how users use our website and improve the content and structure of our website to be effective and meet users’ needs continuously. These statistics may be collected and analyzed by other service providers.
                    • To connect users’ sessions for logging in.
                    • To remember usage or certain data that users have specified on our website system.
                    • To facilitate users in using our website, such as remembering the last data filled in on an easy-to-use form and uploaded files, so that users do not need to complete them again the next time, etc.
                </p>
                <br />
                <strong>To change or delete your cookies setting</strong>
                <p style="white-space:pre-line;">
                    Most web browsers that are commonly used are set up to accept the use of cookies automatically. However, you can disable or control the use of cookies in your web browser settings. If you do not wish to use cookies to collect data on our website, you can access the settings menu in the toolbar of the web browser that you use to change the accepted settings. The withdrawal of consent shall not affect the lawfulness of data processing based on consent before its withdrawal.
                    In this regard, we would like to inform you that if you disable the use of cookies, you may not be able to use or access some features or content that our website provides, and this may make you feel that our services are less convenient. Nonetheless, you can delete the data in local storage by deleting your web browser’s history.
                </p>
            </div>
        </div>
    </div>
</div>