    <div class="text-center">
        <h1 class="font-weight-bold">Register Account</h1>
        <h4>Welcome to Job Gate</h4>
    </div>
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 my-5 bg-transparent">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-4">
                            <div class="p-5">
                                <div class="card-body border text-center">
                                    <i class="fa fa-5x fa-user"></i>
                                    <h2 class="font-weight-bold">Employee</h2>
                                    <h3>Searching Job!</h3>
                                    <br />
                                    <br />
                                    <br />
                                    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register_EPY">
                                        <h3 class="text-white">Register</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="p-5">
                                <div class="card-body border text-center">
                                    <i class="fa fa-5x fa-landmark"></i>
                                    <h2 class="font-weight-bold">Company</h2>
                                    <h3>Searching Job!</h3>
                                    <br />
                                    <br />
                                    <br />
                                    <a class="btn btn-warning" asp-area="Identity" asp-page="/Account/Register_CPN">
                                        <h3 class="text-white">Register</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="justify-content-center row">
        <a class="h3 text-primary" asp-area="Identity" asp-page="/Account/Login">Do you have already Account? <u>Log In</u></a>
    </div>
