<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("TermsOfService","Terms")">Terms of service</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Privacy","Terms")">Privacy Policy</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="@Url.Action("Cookie","Terms")">Cookie Policy</a>
  </li>
</ul>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                <h4 class="font-weight-bold">Privacy Policy</h4>
                <br />
                <strong>1. Introduction</strong>
                <p style="white-space:pre-line;">
                    Jobgate Co., Ltd. (the “Company”) is a service provider of job searches and/or job applications for Job Employees and searches of resumes and/or job advertisements for Employers through the websites and/or applications of Jobgate, including Jobgate products which are potentially available in the future.
                    The Company places the utmost importance on the privacy and safety of personal data, including the confidentiality of users’ personal data. This Privacy Policy has, therefore, been created to clarify details relating to the personal data to be collected, the method of handling the personal data and the objectives of collecting and handling the personal data thereof, as well as the method of contacting users for the deletion or change of their personal data. This Privacy Policy shall apply to all users unless specified otherwise herein. Please read the Privacy Policy of the Company thoroughly so that you will understand the principles and methods of use of such personal data.
                </p>
                <br />
                <strong>2. Personal data collected</strong>
                <p style="white-space:pre-line;">
                    The Company has prescribed different types of personal data to be collected and used, including the method of data collection, in the table below:
                    User account data/Personal record and job application data/Usage data/User accounts/Photographs/First name and surname/Photographs/First name and surname/Date of birth/Gender/height/weight/Marital status/nationality/religion
                    Telephone numbers/emails/LINE ID/address/Abilities/capabilities/Educational background/ work record/Nature of work required/Referrals
                    After you have subscribed and completed your personal records in printed form for use in a job application, you may adjust the parameters of Jobgate Resumes, as follows:
                    Searchable and able to be found by Employers/Searchable and able to be found by Employers but personal data is partially concealed/Personal records completely concealed to prevent from being searchable and found by Employers in search entries/Personal records deleted from the database.
                    The Company provides services of checking Jobgate Resumes kept in the Jobgate system, and the Company may notify any errors or invalidity of data to you via emails or telephone numbers or through other contact channels given by you before sending them to Employers which have published such job positions for the good image of Job Employees. The Company shall collect all your personal data given
                    (1) throughout the period when you are an active user of the Jobgate system; and (2) at least 90 days after you have deleted your user account from the system (a result of legal regulations).
                    Job applications through the method of submitting Jobgate Resume     You may apply for a job position by sending the data of job applications recorded and kept in the Jobgate system to Employers publishing such job positions.     The Company shall collect all your personal data given (1) throughout the period when you are an active user of the Jobgate system; and (2) at least 90 days after the date of receiving the request to delete data from the system (a result of legal regulations).
                    Job applications through the method of Upload Files You may apply for a job by sending files of documents such as resumes, transcripts, documents of work performances, copy of house registration, copy of ID Card or other supporting documents of a job application, etc., on the Jobgate system.
                    The Company provides services of checking supporting documents of a job application kept in the Jobgate system, and the Company may notify any errors or invalidity of data to you via emails or telephone numbers or through other contact channels given by you before sending them to Employers which have published such job positions.
                    Data of use of Jobgate websites and/or applications     The Company may keep the data of your access or method of your use of Jobgate websites and/or applications through third-party data analysis service providers.     In case of storing data usage of Jobgate websites and/or applications through third-party data analysis service, the Company shall keep all your personal data in the format of data which cannot be properly identified.
                    Conversational voice between Job Employees and the call center. Upon your contact with our call center, the Company may record your conversational voice for improvement and development of the Company’s service provision quality
                </p>
                <br />
                <strong>3. Deletion of personal data</strong>
                <p style="white-space:pre-line;">
                    The Company shall collect your personal data as long as it is necessary for providing the service to you in accordance with the authority and objectives of the lawful operation of the Company such as the maintenance of the Company’s service, compliance with the Company’s legal obligations and dispute resolution.
                    In case you have requested for the deletion or destruction of or making unidentifiable your personal data, the Company shall delete or destroy or make such data unidentifiable within 90 days as from the date of receiving the request, with the exception that the Company shall be permitted or required by law to keep the necessary personal data for the period prescribed by the applicable laws and/or in case it is necessary for the authority and objectives of the lawful operation of the Company such as the prevention of fraud, legal obligations, taxes, auditing and accounting, collection of litigation evidence, or protection of your safety with proper measures of basic right protection and benefits for the personal data owners, provided that for audits and the prevention of improper use of services or repeat offenses in the Jobgate system, the Company needs to keep some of your personal data in the system for 10 years from the date the Company deletes your user account or data from the system.
                </p>
                <br />
                <strong>4. Change of privacy policy</strong>
                <p style="white-space:pre-line;">
                    The Company reserves its rights to amend or add the whole or parts of conditions to this Privacy Policy from time to time as may be reasonable to conform with guidelines for service provision such as improvement and increase of functions, development of systems for use of services, application of scientific advancements and technologies, technical configuration, the safety of service provision and/or legal reasons or any other changed regulations without giving prior notification or caution to you. Therefore, you should always follow up on any changes of this Privacy Policy. However, the Company shall disseminate any changes of this Privacy Policy on the Jobgate websites and/or applications as may be suitable for a given situation, and in case there are significant changes thereof, the Company shall notify you via emails. In case you log on to websites and/or applications of Jobgate to use services after the effective date of such changes, it shall be regarded that you have accepted such changes. Therefore, please regularly check the Privacy Policy during the use of services. In case you no longer intend to use the services under the new Privacy Policy, you may stop using the services immediately
                </p>
            </div>
        </div>
    </div>
</div>