@{ Layout = "_Layout MyPage"; }

    <div class="card shadow-lg">
        <div class="card-body bg-light">
            <div class="card-header">
                <h3 class="font-weight-bold text-dark">Manage Resume</h3>
                <h6 class="font-weight-bold text-dark">Total Resume : 3 items</h6>
            </div>
            <div class="card-body">
                <div id="Resume1" class="row">
                    <div class="col-8">
                        <h5 class="font-weight-bold text-dark">Name of Resume #1</h5>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-briefcase col-2 mt-1"></i>
                                <label>Job Experince : # Year ## Month</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-wrench col-2 mt-1"></i>
                                <label>Job Field : Accounting</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-money-bill-alt col-2 mt-1"></i>
                                <label>Expected Salary : 30,000</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-map-marker-alt col-2 mt-1"></i>
                                <label>Working Location : Bangkok</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <h6 class="font-weight-bold text-dark mt-4">Show Resume</h6>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="ChkResume1">
                            <label class="custom-control-label" for="ChkResume1"></label>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <button type="button" class="btn btn-outline-primary btn-block">Revise</button>
                        <button type="button" class="btn btn-outline-primary btn-block">Copy</button>
                        <button type="button" class="btn btn-outline-primary btn-block">View&Print</button>
                    </div>
                </div>
                <div id="Resume2" class="row mt-5">
                    <div class="col-8">
                        <h5 class="font-weight-bold text-dark">Name of Resume #2</h5>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-briefcase col-2 mt-1"></i>
                                <label>Job Experince : # Year ## Month</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-wrench col-2 mt-1"></i>
                                <label>Job Field : Accounting</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-money-bill-alt col-2 mt-1"></i>
                                <label>Expected Salary : 30,000</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-map-marker-alt col-2 mt-1"></i>
                                <label>Working Location : Bangkok</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <h6 class="font-weight-bold text-dark mt-4">Show Resume</h6>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="ChkResume2">
                            <label class="custom-control-label" for="ChkResume2"></label>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <button type="button" class="btn btn-outline-primary btn-block">Revise</button>
                        <button type="button" class="btn btn-outline-primary btn-block">Copy</button>
                        <button type="button" class="btn btn-outline-primary btn-block">View&Print</button>
                    </div>
                </div>
                <div id="Resume3" class="row mt-5">
                    <div class="col-8">
                        <h5 class="font-weight-bold text-dark">Name of Resume #3</h5>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-briefcase col-2 mt-1"></i>
                                <label>Job Experince : # Year ## Month</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-wrench col-2 mt-1"></i>
                                <label>Job Field : Accounting</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 row">
                                <i class="fa fa-money-bill-alt col-2 mt-1"></i>
                                <label>Expected Salary : 30,000</label>
                            </div>
                            <div class="col-6 row">
                                <i class="fa fa-map-marker-alt col-2 mt-1"></i>
                                <label>Working Location : Bangkok</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <h6 class="font-weight-bold text-dark mt-4">Show Resume</h6>
                        <div class="custom-control custom-switch custom-switch-lg">
                            <input type="checkbox" class="custom-control-input" id="ChkResume3">
                            <label class="custom-control-label" for="ChkResume3"></label>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <button type="button" class="btn btn-outline-primary btn-block">Revise</button>
                        <button type="button" class="btn btn-outline-primary btn-block">Copy</button>
                        <button type="button" class="btn btn-outline-primary btn-block">View&Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
