@{ Layout = "_Layout"; }

<script src="~/js/Company_Introduction.js"></script>

<div class="card">
    <div class="card-body">
        <img src="~/Images/Banner.jpg" style="height:300px;" class="card-img" />
        <div id="header" class="card-header bg-white border-0 row">
            <div class="col-3">
                <h4 class="font-weight-bold mt-2">Company Name</h4>
            </div>
            <div class="col-6"></div>
            <div class="col-3 text-right">
                <div class="btn">
                    <i class="star-click star far fa-star fa-2x" style="color:yellow;"></i>
                    <span class="star-click h4 font-weight-bold">Favorite</span>
                </div>
                <div class="btn">
                    <i class="fa fa-share-square fa-2x"></i>
                    <span class="h4 font-weight-bold">Share</span>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title font-weight-bold text-dark"><u>We are</u></h5>
        <label class="card-text" style="white-space:pre-line;">We are specialized in recruitment as well as staffing and outsourcing.
            40Hours Thailand have the teams of professionals and dedicated people who are not only expert in their own field but also have credible track record in the past working experiences
            We work closely with our clients as a business partner to continually evaluate their ever-changing short term and long – terms staffing needs.
        </label>
        <h5 class="card-title font-weight-bold text-dark"><u>Benefit for you</u></h5>
        <label class="card-text" style="white-space:pre-line;">- Annual vacation starting from 12-18 days per year
            - There is training to increase knowledge for employees in line with work.
            - Life insurance - Accident insurance And health insurance
            - Social security Fund
            - Annual physical examination
            - Provident fund
            - Home loan welfare, multi-purpose recovery (Special interest rate)
            - Scholarships for Children
        </label>
        <h5 class="card-title font-weight-bold text-dark"><u>Open Position Now</u></h5>
        <div class="list-group list-group-flush col-8">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-3">
                        <h4 class="font-weight-bold">Node. JS Programmer</h4>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-3 text-right">
                        <h6 class="font-weight-bold">@DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4 row">
                        <i class="fa fa-map-marker-alt text-primary mt-1"></i>
                        <label class="ml-2">Bang Kapi,Bangkok</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-money-bill-alt text-primary mt-1"></i>
                        <label class="ml-2">50,000</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-clock text-primary mt-1"></i>
                        <label class="ml-2">Full-Time</label>
                    </div>
                </div>
            </a>
            <hr />
            <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-3">
                        <h4 class="font-weight-bold">C# Programmer</h4>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-3 text-right">
                        <h6 class="font-weight-bold">@DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4 row">
                        <i class="fa fa-map-marker-alt text-primary mt-1"></i>
                        <label class="ml-2">Bang Kapi,Bangkok</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-money-bill-alt text-primary mt-1"></i>
                        <label class="ml-2">Following Company Salary Table</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-clock text-primary mt-1"></i>
                        <label class="ml-2">Full-Time</label>
                    </div>
                </div>
            </a>
            <hr />
            <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-3">
                        <h4 class="font-weight-bold">Japanese Interpreter</h4>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-3 text-right">
                        <h6 class="font-weight-bold">@DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4 row">
                        <i class="fa fa-map-marker-alt text-primary mt-1"></i>
                        <label class="ml-2">Bang Kapi,Bangkok</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-money-bill-alt text-primary mt-1"></i>
                        <label class="ml-2">Negotiable</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-clock text-primary mt-1"></i>
                        <label class="ml-2">Full-Time</label>
                    </div>
                </div>
            </a>
            <hr />
            <br />
            <h5 class="card-title font-weight-bold text-dark"><u>Contacts</u></h5>
            <label class="card-text" style="white-space:pre-line;">Contact Person Name
                Company name
                Company Address, Sub-District
                District, Province, Zip Code
                Tel.No.
                Company WebSite
            </label>
        </div>
    </div>
</div>