<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option>All</option>
                                <option>Job Title</option>
                                <option>Company Name</option>
                            </select>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="Search for ...." />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <span class="font-weight-bold text-dark">Industry</span>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="Accounting/Auditing">Accounting/Auditing</option>
                                <option value="Advertising/Public Relations">Advertising/Public Relations</option>
                                <option value="Agriculture/Forestry">Agriculture/Forestry</option>
                                <option value="Automobile &amp; Parts ">Automobile &amp; Parts </option>
                                <option value="Aviation/Airlines">Aviation/Airlines</option>
                                <option value="Beauty/Cosmetics">Beauty/Cosmetics</option>
                                <option value="Beverages/Food/Restaurant ">Beverages/Food/Restaurant </option>
                                <option value="Business Service">Business Service</option>
                                <option value="Chemicals/Petrochemicals">Chemicals/Petrochemicals</option>
                                <option value="Clothing/Footwear/Garment">Clothing/Footwear/Garment</option>
                                <option value="Construction/Furnishings ">Construction/Furnishings </option>
                                <option value="Consumer Product ">Consumer Product </option>
                                <option value="Education">Education</option>
                                <option value="Electronic">Electronic</option>
                                <option value="Entertainment/Media">Entertainment/Media</option>
                                <option value="Financial/Banking/Securities">Financial/Banking/Securities</option>
                                <option value="Furniture">Furniture</option>
                                <option value="Government">Government</option>
                                <option value="Graphic Design">Graphic Design</option>
                                <option value="Hospital">Hospital</option>
                                <option value="Hotel/Resort ">Hotel/Resort </option>
                                <option value="Human Resources">Human Resources</option>
                                <option value="I.T. - Hardware ">I.T. - Hardware </option>
                                <option value="I.T. - Internet">I.T. - Internet</option>
                                <option value="I.T. - Software/Telecommunication">I.T. - Software/Telecommunication</option>
                                <option value="Insurance">Insurance</option>
                                <option value="Jewelry &amp; Ornaments">Jewelry &amp; Ornaments</option>
                                <option value="Legal/Business Consulting">Legal/Business Consulting</option>
                                <option value="Machinery">Machinery</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Medical/Pharmaceutical">Medical/Pharmaceutical</option>
                                <option value="Non-Profit Organization">Non-Profit Organization</option>
                                <option value="Packaging">Packaging</option>
                                <option value="Paper &amp; Pulp">Paper &amp; Pulp</option>
                                <option value="Petroleum/Energy/Mining">Petroleum/Energy/Mining</option>
                                <option value="Production/Manufacturing">Production/Manufacturing</option>
                                <option value="Publishing &amp; Distribution">Publishing &amp; Distribution</option>
                                <option value="Real Estate">Real Estate</option>
                                <option value="Retail/Wholesale ">Retail/Wholesale </option>
                                <option value="Sport/Recreation">Sport/Recreation</option>
                                <option value="Trading/Import/Export ">Trading/Import/Export </option>
                                <option value="Transportation/Logistic">Transportation/Logistic</option>
                                <option value="Travel">Travel</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <span class="font-weight-bold text-dark">Job Field</span>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="Accounting">Accounting</option>
                                <option value="Administration">Administration</option>
                                <option value="Advertising/PR/Communications Arts">Advertising/PR/Communications Arts</option>
                                <option value="Agricultural And Natural Resources">Agricultural And Natural Resources</option>
                                <option value="Art / Design / Architecture">Art / Design / Architecture</option>
                                <option value="Artist">Artist</option>
                                <option value="Arts &amp; Humanities">Arts &amp; Humanities</option>
                                <option value="Customer Services">Customer Services</option>
                                <option value="Economist">Economist</option>
                                <option value="Education/Training">Education/Training</option>
                                <option value="Engineering  ">Engineering&nbsp; </option>
                                <option value="Finance">Finance</option>
                                <option value="Hospitality/Food &amp; Beverage">Hospitality/Food &amp; Beverage</option>
                                <option value="Human Resources">Human Resources</option>
                                <option value="IT/Computer">IT/Computer</option>
                                <option value="International Trade">International Trade</option>
                                <option value="Legal">Legal</option>
                                <option value="Logistic/Transportation">Logistic/Transportation</option>
                                <option value="Marketing">Marketing</option>
                                <option value="Pharmaceuticals/Medical/Health Care">Pharmaceuticals/Medical/Health Care</option>
                                <option value="Production/Manufacturing">Production/Manufacturing</option>
                                <option value="Purchasing">Purchasing</option>
                                <option value="Research &amp; Development/ Science">Research &amp; Development/ Science</option>
                                <option value="Sales">Sales</option>
                                <option value="Secretary">Secretary</option>
                                <option value="Social Worker">Social Worker</option>
                                <option value="Technician">Technician</option>
                                <option value="Top Level Executive">Top Level Executive</option>
                                <option value="Quality Assurance/Quality Control">Quality Assurance/Quality Control</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <span class="font-weight-bold text-dark">Location</span>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="Bangkok Region">Bangkok Region</option>
                                <option value="Ayutthaya and Central Region">Ayutthaya and Central Region</option>
                                <option value="Chiangmai and North">Chiangmai and North</option>
                                <option value="Nakhonratchasima and North-East">Nakhonratchasima and North-East</option>
                                <option value="ChonBuri Rayong and East ">ChonBuri Rayong and East </option>
                                <option value="Phuket and South ">Phuket and South </option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <span class="font-weight-bold text-dark">Job Type</span>
                        </div>
                        <div class="col-sm-9">
                            <select class="form-control">
                                <option value="Fulltime">Fulltime</option>
                                <option value="Part Time ">Part Time </option>
                                <option value="Contract/Freelance">Contract/Freelance</option>
                                <option value="Intern">Intern</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-3">
                            <span class="font-weight-bold text-dark">Salary</span>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option value="0">0</option>
                                <option value="5000">5000</option>
                                <option value="10000">10000</option>
                                <option value="15000">15000</option>
                                <option value="20000">20000</option>
                                <option value="25000">25000</option>
                                <option value="30000">30000</option>
                                <option value="35000">35000</option>
                                <option value="40000">40000</option>
                                <option value="45000">45000</option>
                                <option value="50000">50000</option>
                                <option value="55000">55000</option>
                                <option value="60000">60000</option>
                                <option value="65000">65000</option>
                                <option value="70000">70000</option>
                                <option value="75000">75000</option>
                                <option value="80000">80000</option>
                                <option value="85000">85000</option>
                                <option value="90000">90000</option>
                                <option value="95000">95000</option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <span class="font-weight-bold text-dark">~</span>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control">
                                <option value="Over 100000">Over 100000</option>
                                <option value="10000">10000</option>
                                <option value="15000">15000</option>
                                <option value="20000">20000</option>
                                <option value="25000">25000</option>
                                <option value="30000">30000</option>
                                <option value="35000">35000</option>
                                <option value="40000">40000</option>
                                <option value="45000">45000</option>
                                <option value="50000">50000</option>
                                <option value="55000">55000</option>
                                <option value="60000">60000</option>
                                <option value="65000">65000</option>
                                <option value="70000">70000</option>
                                <option value="75000">75000</option>
                                <option value="80000">80000</option>
                                <option value="85000">85000</option>
                                <option value="90000">90000</option>
                                <option value="95000">95000</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-5"></div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" style="width:200px;"><i class="fa fa-search"></i>&nbsp;Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">Working Location</div>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="Region-tab" data-toggle="tab" href="#Region" role="tab" aria-controls="Region" aria-selected="true">Region</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Metro-tab" data-toggle="tab" href="#Metro" role="tab" aria-controls="Metro" aria-selected="false">Metro</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Industrial-tab" data-toggle="tab" href="#Industrial" role="tab" aria-controls="contact" aria-selected="false">Industrial Estate</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Region" role="tabpanel" aria-labelledby="Region-tab">
                            <div class="card-body">
                                <div class="nav-link">
                                    <button class="btn btn-outline-primary mt-2">Bangkok</button>
                                    <button class="btn btn-outline-primary mt-2">Eastern</button>
                                    <button class="btn btn-outline-primary mt-2">Central</button>
                                    <button class="btn btn-outline-primary mt-2">Nothern</button>
                                    <button class="btn btn-outline-primary mt-2">Nothern</button>
                                    <button class="btn btn-outline-primary mt-2">Southern</button>
                                    <button class="btn btn-outline-primary mt-2">Chonburi</button>
                                    <button class="btn btn-outline-primary mt-2">Samut Prakan</button>
                                    <button class="btn btn-outline-primary mt-2">Rangsit</button>
                                    <button class="btn btn-outline-primary mt-2">Rangsit</button>
                                    <button class="btn btn-outline-primary mt-2">Chiang Mai</button>
                                    <button class="btn btn-outline-primary mt-2">Phuket</button>
                                    <button class="btn btn-outline-primary mt-2">*Reserved*</button>
                                    <button class="btn btn-outline-primary mt-2">*Reserved*</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Metro" role="tabpanel" aria-labelledby="Metro-tab">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row">
                                        <img class="bg-preset1" src="~/Images/BTS Logo.png" height="30" width="30">
                                        <h5 class="font-weight-bold text-dark">BTS Line</h5>
                                    </div>
                                    <div class="nav-link">
                                        <button class="btn btn-outline-primary mt-2">Sukumvit Line</button>
                                        <button class="btn btn-outline-primary mt-2">Silom Line</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="card border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <img class="bg-preset1" src="~/Images/MRT Logo.png" height="30" width="30">
                                                <h5 class="font-weight-bold text-dark">MRT Line</h5>
                                            </div>
                                            <div class="nav-link">
                                                <button class="btn btn-outline-primary mt-2">Blue Line</button>
                                                <button class="btn btn-outline-primary mt-2">Purple Line</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card border-0">
                                        <div class="card-body">
                                            <div class="row">
                                                <img class="bg-preset1" src="~/Images/BRT Logo.png" height="30" width="30">
                                                <h5 class="font-weight-bold text-dark">BRT Line</h5>
                                            </div>
                                            <div class="nav-link">
                                                <button class="btn btn-outline-primary mt-2">Express</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row">
                                        <img class="bg-preset1" src="~/Images/ARL Logo.jpg" height="30" width="30">
                                        <h5 class="font-weight-bold text-dark">ARL Line</h5>
                                    </div>
                                    <div class="nav-link">
                                        <button class="btn btn-outline-primary mt-2">City Line</button>
                                        <button class="btn btn-outline-primary mt-2">Express Line</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Industrial" role="tabpanel" aria-labelledby="Industrial-tab">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row">
                                        <h5 class="font-weight-bold text-dark">Bangkok / Pathumtani / Samut Prakran</h5>
                                    </div>
                                    <div class="nav-link">
                                        <button class="btn btn-outline-primary mt-2">Bangchan</button>
                                        <button class="btn btn-outline-primary mt-2">Gemopolis</button>
                                        <button class="btn btn-outline-primary mt-2">Lard Krabang</button>
                                        <button class="btn btn-outline-primary mt-2">Bangkapi</button>
                                        <button class="btn btn-outline-primary mt-2">Navanakorn</button>
                                        <button class="btn btn-outline-primary mt-2">Bangplee</button>
                                        <button class="btn btn-outline-primary mt-2">Bangpoo</button>
                                    </div>
                                </div>
                            </div>
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row">
                                        <h5 class="font-weight-bold text-dark">Rayoung / Chonburi / Chachoengsao</h5>
                                    </div>
                                    <div class="nav-link">
                                        <button class="btn btn-outline-primary mt-2">Amata City</button>
                                        <button class="btn btn-outline-primary mt-2">Eastern Seaboard</button>
                                        <button class="btn btn-outline-primary mt-2">Laem Chabang</button>
                                        <button class="btn btn-outline-primary mt-2">Pinthong</button>
                                        <button class="btn btn-outline-primary mt-2">Wellgrow</button>
                                        <button class="btn btn-outline-primary mt-2">Gateway City</button>
                                        <button class="btn btn-outline-primary mt-2">Hemaraj Eastern</button>
                                        <button class="btn btn-outline-primary mt-2">Hemaraj Chonburi</button>
                                        <button class="btn btn-outline-primary mt-2">Siam Eastern</button>
                                        <button class="btn btn-outline-primary mt-2">Rojana</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card" style="height:350px;">
                <img class="card-img-top bg-preset1" src="~/Images/Advertising.jpg">
            </div>
        </div>
    </div>
    <br />
    <h5 class="font-weight-bold text-dark">Top Recommended Companies</h5>
    <div class="row">
        <div class="col-sm-2">
            <div class="card">
                <div class="card-header text-center text-dark h5">LOGO COMPANY</div>
                <div class="card-body border">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
                <div class="card-footer">
                    Detail....
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-header text-center text-dark h5">LOGO COMPANY</div>
                <div class="card-body border">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
                <div class="card-footer">
                    Detail....
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-header text-center text-dark h5">LOGO COMPANY</div>
                <div class="card-body border">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
                <div class="card-footer">
                    Detail....
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-header text-center text-dark h5">LOGO COMPANY</div>
                <div class="card-body border">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
                <div class="card-footer">
                    Detail....
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-header text-center text-dark h5">LOGO COMPANY</div>
                <div class="card-body border">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
                <div class="card-footer">
                    Detail....
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <div class="card-header text-center text-dark h5">LOGO COMPANY</div>
                <div class="card-body border">
                    <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                </div>
                <div class="card-footer">
                    Detail....
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/Banner.jpg" width="500" height="250" data-holder-rendered="true">
            </div>
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/Banner.jpg" width="500" height="250" data-holder-rendered="true">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/Banner.jpg" width="500" height="250" data-holder-rendered="true">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <h5 class="font-weight-bold text-dark">Urgent Jobs</h5>
    <div class="row">
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card-group mt-2">
                <div class="card col-sm-4">
                    <div class="card-body">
                        <img class="bg-preset1 card-img" src="~/Images/Advertising.jpg" />
                    </div>
                </div>
                <div class="card col-sm-8">
                    <div class="card-body">
                        Detail....
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/Banner.jpg" width="250" height="125" data-holder-rendered="true">
            </div>
            <div class="carousel-item active">
                <img class="d-block w-100" src="~/Images/Banner.jpg" width="250" height="125" data-holder-rendered="true">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="~/Images/Banner.jpg" width="250" height="125" data-holder-rendered="true">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br />
    <h5 class="font-weight-bold text-dark">Job Posting Companies</h5>
    <div class="row">
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
        <div class="col-sm-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <img class="card-img w-100 bg-preset1" src="~/Images/Advertising.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>