@{ Layout = "_Layout"; }

<script src="~/js/Company_Introduction.js"></script>

<div class="card">
    <div class="card-body">
        <div class="row">
        <img src="~/Images/Banner.jpg" style="height:150px; width:200px;" class="card-img" />
            <div class="ml-3">
                <h4 class="font-weight-bold text-dark">Company Name</h4>
                <a href=""><u>See Company Infomation</u></a>
                <br />
                <div class="mt-3"><small>>I.T. - Software/Telecommunication</small></div>
            </div>
        </div>
        <br />
        <div class="card-header bg-gray-300 border-0 row">
            <div class="col-3">
                <h4 class="font-weight-bold mt-2">Node. JS Programmer</h4>
            </div>
            <div class="col-6"></div>
            <div class="col-3 text-right">
                <div class="btn">
                    <i class="star-click star far fa-star fa-2x" style="color:yellow;"></i>
                    <span class="star-click h4 font-weight-bold">Favorite</span>
                </div>
                <div class="btn">
                    <i class="fa fa-share-square fa-2x"></i>
                    <span class="h4 font-weight-bold">Share</span>
                </div>
                <button type="button" class="btn btn-primary" style="width:100px;">Apply</button>
            </div>
        </div>
        <div class="card-header bg-white border-0 row">
            <div class="col-2 row">
                <i class="fa fa-map-marker-alt text-primary mt-1"></i>
                <label class="ml-2">Bang Kapi,Bangkok</label>
            </div>
            <div class="col-2 row">
                <i class="fa fa-money-bill-alt text-primary mt-1"></i>
                <label class="ml-2">50,000</label>
            </div>
            <div class="col-2 row">
                <i class="fa fa-clock text-primary mt-1"></i>
                <label class="ml-2">Full-Time</label>
            </div>
            <div class="col-6 text-right">
                <h6 class="font-weight-bold">Posted : @DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>
            </div>
        </div>
    </div>
    <div class="card-body">
        <h5 class="card-title font-weight-bold text-dark"><u>Job Description</u></h5>
        <label class="card-text" style="white-space:pre-line;">1. Develop the department As assigned in each project using Node.JS language as the main
            2. Improve, maintain, develop the system from the existing existing to be up to date
            3. Develop and deliver the program on time
            4. Check the quality of work before delivering by yourself
            5. Work as assigned by the supervisor
        </label>
        <h5 class="card-title font-weight-bold text-dark"><u>Qulification</u></h5>
        <label class="card-text" style="white-space:pre-line;">1. Male / Female, age between 25 - 35 years.
            2. Bachelor's degree in computer-related fields
            3. Experience in Node.JS Programmer 1-3 years or more.
        </label>
        <h5 class="card-title font-weight-bold text-dark"><u>Contacts</u></h5>
        <label class="card-text" style="white-space:pre-line;">Contact Person Name
            Company name
            Company Address, Sub-District
            District, Province, Zip Code
            Tel.No.
            Company WebSite
        </label>
        <div class="row">
            <h5 class="card-title font-weight-bold text-dark"><u>Smilar Job Position</u></h5>
            <a class="ml-5" href=""><small><u>See More Silmilar Job Position</u></small></a>
        </div>
        <div class="list-group list-group-flush col-8">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-9">
                        <h4 class="font-weight-bold">React Js / Node Js Developer</h4>
                        <h6 class="font-weight-bold">TELLSCORE CO.,LTD.</h6>
                    </div>
                    <div class="col-3 text-right">
                        <h6 class="font-weight-bold">@DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4 row">
                        <i class="fa fa-map-marker-alt text-primary mt-1"></i>
                        <label class="ml-2">Bang Kapi,Bangkok</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-clock text-primary mt-1"></i>
                        <label class="ml-2">Full-Time</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-money-bill-alt text-primary mt-1"></i>
                        <label class="ml-2">50,000</label>
                    </div>
                </div>
            </a>
            <hr />
            <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-9">
                        <h4 class="font-weight-bold">Senior Developer</h4>
                        <h6 class="font-weight-bold">NES Fircroft</h6>
                    </div>
                    <div class="col-3 text-right">
                        <h6 class="font-weight-bold">@DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4 row">
                        <i class="fa fa-map-marker-alt text-primary mt-1"></i>
                        <label class="ml-2">Bang Na, Bangkok</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-clock text-primary mt-1"></i>
                        <label class="ml-2">Full-Time</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-money-bill-alt text-primary mt-1"></i>
                        <label class="ml-2">Following Company Salary Table</label>
                    </div>
                </div>
            </a>
            <hr />
            <a href="#" class="list-group-item list-group-item-action">
                <div class="row">
                    <div class="col-9">
                        <h4 class="font-weight-bold">Innovation Developer</h4>
                        <h6 class="font-weight-bold">2C2P (Thailand) Co., Ltd.</h6>
                    </div>
                    <div class="col-3 text-right">
                        <h6 class="font-weight-bold">@DateTime.UtcNow.ToString("d MMM yyyy", new System.Globalization.CultureInfo("en-US"))</h6>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-4 row">
                        <i class="fa fa-map-marker-alt text-primary mt-1"></i>
                        <label class="ml-2">Sriracha, Chonburi</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-clock text-primary mt-1"></i>
                        <label class="ml-2">Contract</label>
                    </div>
                    <div class="col-4 row">
                        <i class="fa fa-money-bill-alt text-primary mt-1"></i>
                        <label class="ml-2">Negotiable</label>
                    </div>
                </div>
            </a>
            <hr />
        </div>
    </div>
</div>