<script>
    $(document).ready(function () {
        $('#btnChangePW').click(function () {
            $('#newPW').hide();
            $('#success').toggleClass('d-none');       
            setTimeout(function () { $('#countdown').text('Please Login with new password ... 4 sec ...'); }, 1000);
            setTimeout(function () { $('#countdown').text('Please Login with new password ... 3 sec ...'); }, 2000);
            setTimeout(function () { $('#countdown').text('Please Login with new password ... 2 sec ...'); }, 3000);
            setTimeout(function () { $('#countdown').text('Please Login with new password ... 1 sec ...'); }, 4000);
            setTimeout(function () { $('#countdown').text('Please Login with new password ... 0 sec ...'); window.location.href = 'Login'; }, 5000);
        });
    });
</script>
<div class="container-fluid">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="newPW" class="row justify-content-center">
        <div class="col-xl-5 col-lg-12 col-md-9 text-center">
            <h4 class="font-weight-bold text-dark">Reset your password</h4>
            <br />
            <div class="row justify-content-center">
                <input type="text" class="form-control col-5" placeholder="Type New Password" />
                <div class="invalid-feedback">PW Validation Error</div>
            </div>
            <br />
            <div class="row justify-content-center">
                <input type="text" class="form-control col-5" placeholder="Confirm New Password" />
                <div class="invalid-feedback">No match with COnfirm PW</div>
            </div>
            <br />
            <button id="btnChangePW" type="button" class="btn btn-primary h5" style="width:200px;"><strong>Change Password</strong></button>
        </div>
    </div>
    <div id="success" class="row justify-content-center d-none">
        <div class="col-xl-5 col-lg-12 col-md-9 text-center">
            <h4 class="font-weight-bold text-dark">Your password is changed!</h4>
            <br />
            <h4 id="countdown" class="font-weight-bold text-dark">Please Login with new password ... 5 sec ...</h4>
        </div>
    </div>
</div>