    <div class="row justify-content-center">
        <a class="fa fa-5x fa-landmark"></a>
        <div class="text-center">
            <h2 class="font-weight-bold">Company Register</h2>
            <h5>Welcome To Job Gate</h5>
        </div>
    </div>
    <br />
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg">
                <div class="card-body">
                    <div class="row justify-content-center mt-3">
                        <input type="email" class="form-control col-sm-6" placeholder="Email Address" />
                    </div>
                    <div class="row justify-content-center mt-3">
                        <input type="email" class="form-control col-sm-6" placeholder="Confirm Email Address" />
                    </div>
                    <div class="row justify-content-center mt-3">
                        <input type="password" class="form-control col-sm-6" placeholder="Password" />
                    </div>
                    <div class="row justify-content-center mt-3">
                        <input type="password" class="form-control col-sm-6" placeholder="Confirm Password" />
                    </div>
                    <div class="row justify-content-center mt-5">
                        <input type="text" class="form-control col-sm-6" placeholder="Company Name" />
                    </div>
                    <div class="row justify-content-center mt-3">
                        <select class="form-control col-sm-6">
                            <option value="Accounting/Auditing">Accounting/Auditing</option>
                            <option value="Advertising/Public Relations">Advertising/Public Relations</option>
                            <option value="Agriculture/Forestry">Agriculture/Forestry</option>
                            <option value="Automobile &amp; Parts ">Automobile &amp; Parts </option>
                            <option value="Aviation/Airlines">Aviation/Airlines</option>
                            <option value="Beauty/Cosmetics">Beauty/Cosmetics</option>
                            <option value="Beverages/Food/Restaurant ">Beverages/Food/Restaurant </option>
                            <option value="Business Service">Business Service</option>
                            <option value="Chemicals/Petrochemicals">Chemicals/Petrochemicals</option>
                            <option value="Clothing/Footwear/Garment">Clothing/Footwear/Garment</option>
                            <option value="Construction/Furnishings ">Construction/Furnishings </option>
                            <option value="Consumer Product ">Consumer Product </option>
                            <option value="Education">Education</option>
                            <option value="Electronic">Electronic</option>
                            <option value="Entertainment/Media">Entertainment/Media</option>
                            <option value="Financial/Banking/Securities">Financial/Banking/Securities</option>
                            <option value="Furniture">Furniture</option>
                            <option value="Government">Government</option>
                            <option value="Graphic Design">Graphic Design</option>
                            <option value="Hospital">Hospital</option>
                            <option value="Hotel/Resort ">Hotel/Resort </option>
                            <option value="Human Resources">Human Resources</option>
                            <option value="I.T. - Hardware ">I.T. - Hardware </option>
                            <option value="I.T. - Internet">I.T. - Internet</option>
                            <option value="I.T. - Software/Telecommunication">I.T. - Software/Telecommunication</option>
                            <option value="Insurance">Insurance</option>
                            <option value="Jewelry &amp; Ornaments">Jewelry &amp; Ornaments</option>
                            <option value="Legal/Business Consulting">Legal/Business Consulting</option>
                            <option value="Machinery">Machinery</option>
                            <option value="Marketing">Marketing</option>
                            <option value="Medical/Pharmaceutical">Medical/Pharmaceutical</option>
                            <option value="Non-Profit Organization">Non-Profit Organization</option>
                            <option value="Packaging">Packaging</option>
                            <option value="Paper &amp; Pulp">Paper &amp; Pulp</option>
                            <option value="Petroleum/Energy/Mining">Petroleum/Energy/Mining</option>
                            <option value="Production/Manufacturing">Production/Manufacturing</option>
                            <option value="Publishing &amp; Distribution">Publishing &amp; Distribution</option>
                            <option value="Real Estate">Real Estate</option>
                            <option value="Retail/Wholesale ">Retail/Wholesale </option>
                            <option value="Sport/Recreation">Sport/Recreation</option>
                            <option value="Trading/Import/Export ">Trading/Import/Export </option>
                            <option value="Transportation/Logistic">Transportation/Logistic</option>
                            <option value="Travel">Travel</option>
                        </select>
                    </div>
                    <div class="row justify-content-center mt-3">
                        <input type="text" class="form-control col-sm-6" placeholder="Contact Person" />
                    </div>
                    <div class="row justify-content-center mt-3">
                        <input type="tel" class="form-control col-sm-6" placeholder="Telephone No." />
                    </div>
                    <div class="row justify-content-center mt-3">
                        <div class="form-group justify-content-center">
                            <div class="custom-control custom-checkbox small">
                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                <label class="custom-control-label" for="customCheck">
                                    I agree to Jobgate's <a class="text-primary"><u>Terms&Condition</u></a> and <a class="text-primary"><u>Privacy Policy</u></a>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <a class="btn btn-primary" href="@Url.Action("Register_Result","Home")">
                            <h3 class="text-white">Register</h3>
                        </a>
                    </div>
                    <div class="row justify-content-center">
                        <a class="h3 text-primary" href="@Url.Action("Login","Home")">Do you have already Account? <u>Log In</u></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
