<script>
    $(document).ready(function () {
        $('#btnSend').click(function () {
            $('#forgotPW').hide();
            $('#success').toggleClass('d-none');
            setTimeout(function () { $('#countdown').text('Go to Home ... 4 sec ...'); }, 1000);
            setTimeout(function () { $('#countdown').text('Go to Home ... 3 sec ...'); }, 2000);
            setTimeout(function () { $('#countdown').text('Go to Home ... 2 sec ...'); }, 3000);
            setTimeout(function () { $('#countdown').text('Go to Home ... 1 sec ...'); }, 4000);
            setTimeout(function () { $('#countdown').text('Go to Home ... 0 sec ...'); window.location.href = 'Home'; }, 5000);
        });
    });
</script>
<div class="container-fluid">
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="forgotPW" class="row justify-content-center">
        <div class="col-xl-5 col-lg-12 col-md-9">
            <div class="row justify-content-center">
                <h5 class="font-weight-bold text-dark">Enter your email address. We will send you email to reset your password</h5>
            </div>
            <br />
            <div class="row justify-content-center">
                <input type="email" class="form-control col-6" />
                <button id="btnSend" type="button" class="btn btn-primary ml-2" style="width:150px;">Send Email</button>
            </div>
        </div>
    </div>
    <div id="success" class="row justify-content-center d-none">
        <div class="col-xl-5 col-lg-12 col-md-9 text-center">
            <h4 class="font-weight-bold text-dark">We sent email to you! Check your email.</h4>
            <h4 class="font-weight-bold text-dark">Click link in email to reset password</h4>
            <u><a href="@Url.Action("Home","Home")" id="countdown" class="font-weight-bold text-primary">Go to Home ... 5 sec ...</a></u>
        </div>
    </div>
</div>